.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.element {
    width: 100%;
    min-height: 3cm;
    display: flex;
    flex-direction: row;
}

#content {
    width: 25%;
    height: 25%;
}