body {
    background-color: rgb(240, 246, 248);
    margin: 0px;
}

#page {
    border-style: none;
    width: 100%;
    height: 30cm;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 3cm;
    background-color: aqua;
}

#donptions {
    display: none;
}

.doptions {
    display: none;
}