.pageTitle{
    background-color: #523B61;
    /* border: 3px;#C3AFE6 */
    /* border-style:groove; */
    font-size: 15px;
    text-align: center;
    color: #C3AFE6;
    
}


.pageSubmit{
    background-color: #F3BFD0;
    border: 1px;
    border-style:groove;
    margin: 2.5%;
    padding: 5px;
}
.pageContent{
    /* background-color: #F3BFD0; */
    /* border: 1px; */
    /* border-style:groove; */
    /* margin: 2.5%; */
    padding: 5px;
}

body {
    background-color: white;
    /* margin: 2.5%; */
}