.pageTitle{
    background-color: wheat;
    border: 3px;
    border-style:groove;
}

.pageContent{
    background-color: wheat;
    border: 1px;
    border-style:groove;
    margin: 2.5%;
    padding: 5px;
}

body {
    background-color: lightblue;
    margin: 2.5%;
}